<div class="settings-wrapper">
  <div class="settings-row">
    <div class="settings-row-left">Количество игроков</div>
    <div class="settings-row-right">
      <numeric-input />
    </div>
  </div>
  <div class="settings-row">
    <div class="settings-row-left">Очков для победы</div>
    <div class="settings-row-right">
      <numeric-input />
    </div>
  </div>
  <div class="settings-row">
    <primary-button
      [extended]="true"
      (click)="createPlayer()"
      name="СОЗДАТЬ ИГРОКА"
    />
    <primary-button
      [extended]="true"
      (click)="createGame()"
      name="СОЗДАТЬ ИГРУ"
    />
  </div>
</div>
