<div class="users-bar">
  <div class="users">
    <user-icon
      *ngFor="let player of players | async"
      [avatarUrl]="player.avatar"
      infoCircleType="score"
      [playerScore]="player.points"
    ></user-icon>
  </div>
  <primary-button
    *ngIf="isMaster"
    name="СОЗДАТЬ РАУНД"
    [extended]="true"
    (click)="createRound()"
  ></primary-button>
</div>
<div class="table">
  <div
    class="association-text"
    *ngIf="playerId && (leader$ | async) !== playerId"
  >
    Association text: {{ associationText$ | async }}
  </div>
  <div class="table-cards">
    <card
      *ngFor="let card of tableCards$ | async"
      [url]="card.url"
      [selected]="card.id === selectedCard"
      (click)="onCardClick(card.id)"
    ></card>
  </div>
</div>
<div class="player-panel">
  <div class="player-cards">
    <card
      *ngFor="let card of playerCards$ | async"
      [url]="card.url"
      [selected]="card.id === selectedCard"
      (click)="onCardClick(card.id)"
    ></card>
  </div>
  <p>{{ selectedCard }}</p>
  <div class="input-panel">
    <div
      *ngIf="playerId && (leader$ | async) === playerId"
      class="leader-panel"
    >
      <form
        [formGroup]="associationFrom"
        (ngSubmit)="sendAssociationByLeader()"
      >
        <input formControlName="association" type="text" />
        <button type="submit">ЗАГАДАТЬ АССОЦИАЦИЮ</button>
      </form>
    </div>
    <div
      class="player-panel"
      *ngIf="playerId && (leader$ | async) !== playerId"
    >
      <button (click)="sendAssociation()">ВЫБРАТЬ АССОЦИАЦИЮ</button>
      <button
        *ngIf="playerId && (leader$ | async) !== playerId"
        (click)="chooseLeaderCard()"
      >
        ВЫБРАТЬ КАРТУ ЛИДЕРА
      </button>
    </div>
  </div>
</div>
