<div class="users-panel">
  <div class="users">
    <user-icon
      *ngFor="let player of players | async"
      [avatarUrl]="player.avatar"
      infoCircleType="score"
      [playerScore]="player.points"
    ></user-icon>
  </div>
  <primary-button
    *ngIf="isMaster"
    name="СОЗДАТЬ РАУНД"
    [extended]="true"
    (click)="createRound()"
  ></primary-button>
</div>
<div class="cards-panel">
  <!--   <div
    class="association-text"
    *ngIf="playerId && (leader$ | async) !== playerId"
  >
    Association text: {{ associationText$ | async }}
  </div> -->
  <div class="table-cards">
    <!--     <card
      *ngFor="let card of tableCards$ | async"
      [url]="card.url"
      [selected]="card.id === (selectedCard$ | async)"
      (click)="onCardClick(card.id)"
    ></card> -->
    <card
      *ngFor="let card of cardsInHand$ | async"
      [url]="card.url"
      [selected]="card.id === (selectedCard$ | async)"
      (click)="onCardClick(card.id)"
    ></card>
  </div>
</div>
<div class="player-panel">
  <div *ngIf="showInfoContainer$ | async">
    <info-container [infoMessage]="contextInfo$ | async"></info-container>
  </div>
  <div *ngIf="showHints$ | async" class="hints">
    <todo-list [checkListItems]="checkListItems$ | async"></todo-list>
  </div>
  <div *ngIf="showAssociationInput$ | async" class="association-input">
    <association-input
      (saveText)="onSaveAssociationText($event)"
      (editText)="onEditAssociationText()"
    ></association-input>
  </div>
  <div *ngIf="showAssociationText$ | async" class="association-text">
    <info-container
      [infoMessage]="{
        header: 'Ассоциация',
        text: (associationText$ | async) ?? '...'
      }"
    ></info-container>
  </div>
  <div *ngIf="showConfirmBtn$ | async" class="confirm-btn-container">
    <primary-button
      name="Подтвердить выбор"
      [extended]="true"
      (click)="sendAssociationByLeader()"
    ></primary-button>
  </div>
</div>
