<div class="screen-container">
  <h1 class="header">Очевидно и точка</h1>
  <h2 class="sub-header">Карточная игра с использованием нейросети</h2>
  <div class="menu-buttons-container">
    <div class="menu-buttons-row">
      <primary-button
        class="btn long-btn"
        name="СОЗДАТЬ ИГРУ"
        routerLink="/deckselection"
        [extended]="true"
      ></primary-button>
    </div>
    <div class="menu-buttons-row">
      <primary-button
        class="btn long-btn"
        name="ПОДКЛЮЧИТЬСЯ К ИГРЕ"
        routerLink="/joingame"
        [extended]="true"
      ></primary-button>
    </div>
    <div class="menu-buttons-row">
      <primary-button
        class="btn long-btn"
        name="ПОДЕЛИТЬСЯ"
        [extended]="true"
        icon="launch"
        color="secondary"
      ></primary-button>
      <primary-button
        class="btn"
        icon="launch"
        color="secondary"
      ></primary-button>
      <primary-button
        class="btn"
        icon="launch"
        color="secondary"
      ></primary-button>
    </div>
  </div>
</div>
